.cards {
  @include flex($row, $btwen, $start);
  padding: rem(40px 0 100px);
  @include respond-to($tablet-portrait){
    padding: rem(30px 0 10px);
  }
  .item {
    @include flex($col, $start, $center);
    max-width: rem(388px);
    width: calc(50% - 40px);
    margin-bottom: rem(30px);
    @include respond-to($tablet-portrait) {
      margin: 20px auto;
    }
    @include respond-to($phone){
      width: 100%;
    }
    p {
      text-align: center;
      margin-top: rem(30px);
    }
  }
}