body{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
section{
  width: 100%;
  background-color: $bg;
  //padding: 90px 0 10px;
}
.container{
  width: 90%;
  max-width: 1440px;
  margin: auto;
}
a{
  color: $main-black;
  text-decoration: none;
  transition: .3s ease all;
  display: inline-flex;
  &:hover{
    opacity: .7;

  }
}