.contactUs{
  background-color: $white;
  padding: rem(120px 0 200px);
  h2{
    padding-bottom: 30px;
  }
    .line{
      @include flex($row,$btwen,$start);
    }
  .form{
    max-width: 704px;
    width: calc(46% - 30px);

    @include respond-to($tablet-portrait){
      width: 100%;
      margin: rem(0 0 60px 0);
    }
    form{
      .line{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        label{
          max-width: calc(50% - 10px);
        }
      }
      p{
        margin-top: rem(24px);
        label{
          line-height: rem(32px);
        }
      }
    }
    input[type="text"], input[type="email"]{
      width: 100%;
    }
    input[type="submit"]{
      margin-top: 15px;

    }
  }
  .direct{
    max-width: 704px;
    padding: 30px 40px;
    background-color: $bg;
    width: 100%;
    .contacts{
      @include flex($row,$btwen,$start);
      padding: 20px 0;
    }
    .item{
      padding: 0 15px 0 0;
      //max-width: calc(50% - 20px);
      &:first-child{
        border-right: 1px solid $main-black;
      }
      &:nth-child(2){
        padding: 0 0 15px 0;
      }
      .links{
        width: 70%;
        display: inline-flex;
        align-items: end;
        justify-content: start;
        margin-top: 10px;
        a{
          color: $primary;
          &:nth-child(2){
            margin-left: 20px;
            line-height: 169%;
          }
        }
      }
    }
  }
}