.hero{
  padding-top: 41px;
  .container{
    @include flex($row,$btwen,$center);

  }
  .text{
    width: calc(100% - 555px);
    max-width: rem(727px);
    @include respond-to($tablet-portrait){
      width: 90%;
      margin: auto;
    }
    h1{
      color: $primary;
    }
    h3{
      max-width: rem(400px);
      margin: rem(24px 0 60px);
    }
  }
  .image{
    max-width: 555px;
    width: 100%;
    @include respond-to($tablet-portrait){
      max-width: 100%;
      margin: 40px auto 0;
    }
  }
}