.howWeDoThat{
  padding-bottom: rem(150px);
  .container{
    @include flex($row,$btwen,$start);

  }
  .text{
    h2{
      padding-bottom: 40px;
    }
    max-width: 604px;
    width: calc(100% - 770px);
    @include respond-to($tablet-portrait){
      margin: auto;
      width: 90%;
    }
    .wysiwyg{
      margin-bottom: 30px;
    }
  }
  .info{
    max-width: 691px;
    width: 90%;
    margin: auto;
    .image{

      svg{
        max-width: 100%;
      }
    }
    @include respond-to($tablet-portrait){
      margin: auto;

    }
  }

}