.ourClients{
  padding: rem(70px 0 150px);
  .slider{
    overflow: hidden;
    max-width: 100%;
    margin-top: 40px;
    .logo{
      width: 300px;
      height: 300px;
      background-color: $white;
      padding: 20px;
      position: relative;
      margin: 0 10px;
      outline: none;
      @include respond-to($tablet-portrait){
        height: 250px;
      }
      @include respond-to($phone){
        height: 160px;
      }
      img{
        max-width: calc(100% - 40px);
        width: auto;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}