.whyToSell{
  background-color: $white;
  h2{
    text-align: center;
  }
.cards{
  .item{
    align-items: start;
    margin-top: 40px;
    @include respond-to($tablet-portrait) {
      margin: 20px 0;
    }
    h3{
      text-align: left;
      padding-top: rem(16px);
    }
  }
}
}